@define-color alpha_black rgba(0, 0, 0, 0.6);

* {
  border: none;
  border-radius: 0;
  font-family: "VictorMono Nerd Font";
  font-size: 12px;
  color: @theme_text_color;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#window {
  font-weight: bold;
  padding: 0 8px;
}

window#waybar {
  background: @alpha_black;
}

#clock, #mode {
  background: @theme_bg_color;
  padding: 0 8px;
}

#temperature, #cpu, #pulseaudio, #battery, #language, #idle_inhibitor, #workspaces button {
  background: transparent;
  padding: 0 8px;
}

#idle_inhibitor.deactivated {
  color: @theme_unfocused_fg_color;
}

#workspaces button.focused {
  background: @theme_bg_color;
  border-top: 2px solid @theme_fg_color;
  padding: 0 8px;
}

tooltip {
  background: @alpha_black;
}
