* {
	color: #b4b4b9;
	border: none;
	border-radius: 0;
	/* font-family: "Misc fixed", "Unifont"; */
  font-family: "Hack Nerd Font";
	font-size: 13px;
	min-height: 0px;
	padding: 5px 0;
	margin:  5px 0;
	/*max-height: 13px;*/
}

#window {
	padding: 1px 0;
}

window#waybar {
	padding: 0 0;
	background-color: transparent;
	/*background-color: rgba(11, 11, 11, 0.4);*/
	color: #ffffff;
}

window#waybar.hidden {
	background-color: transparent;
}

window#waybar.empty {
	background-color: transparent;
}

window#waybar.solo {
	background-color: #1A1A21;
}

window#waybar.mpv {
	background-color: rgba(255, 255, 255, 0.00);
}

window#waybar.telegramdesktop {
	background-color: #212127;
}

window#waybar.Alacritty {
  background-color: rgba(255, 255, 255, 0.00);
}

#workspaces button {
	padding: 0 0px;
	margin: 0 0px;
	background-color: transparent;
	/*border-left: 2px solid rgba(100, 114, 125, 0.5);*/
	border-left: 2px solid #635196;
	color: #999999;
}

#workspaces button.focused {
	color: #ffffff;
	background-color: transparent;
	border-left: 2px solid #ff5fff;
}

#workspaces button.persistent {
	border-left: 2px solid #10100e;
}

#workspaces button.urgent {
	border-left: 2px solid #ff76a1;
}

#network {
	background-color: transparent;
	border-left: 2px solid #99a4bc;
	color: #b4b4b9;
}
#clock,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray,
#mode,
#battery,

#clock {
	color: #b4b4b9;
	/* border-left: 2px solid #9f97cc; */
}
#tray {
	border-left: transparent;
}
#cpu {
	color: #b4b4b9;
	/* border-left: 2px solid #635196; */
}
#memory {
	color: #b4b4b9;
	/* border-left: 2px solid #635196; */
}

#battery.charging {
	color: #b4b4b9;
	/* border-left: 2px solid #ff761a; */
}
#battery.discharging {
	color: #b4b4b9;
	/* border-left: 2px solid #99a4bc; */
}
#battery.warning.discharging {
	color: #b4b4b9;
	/* border-left: 2px solid #ffc552; */
}
#battery.critical.discharging {
	color: #b4b4b9;
	/* border-left: 2px solid #ff3600; */
}
#battery.warning.charging {
	color: #b4b4b9;
	/* border-left: 2px solid #ff761a; */
}
#battery.critical.charging {
	color: #b4b4b9;
	/* border-left: 2px solid #ff761a; */
}

label:focus {
	background-color: #000000;
}

