* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font";
  font-size: 14px;
  min-height: 0;
}

#mode,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#language,
#idle_inhibitor,
#clock {
  color: darkgray;
  padding: 5px 8px 4px;
  margin-bottom: 2px;
}

#window {
  color: white;
  padding: 0 8px;
}
window#waybar {
  background: rgba(43, 48, 59, 0.5);
  border-bottom: 2px solid rgba(100, 114, 125, 0.5);
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
  color: darkgray;
  background: transparent;
  padding: 5px 8px 4px;
  border-bottom: 2px solid transparent;
}
#workspaces button.focused {
  color: white;
  background: rgba(100, 114, 125, 0.5);
  border-bottom: 2px solid white;
}

#mode {
  color: white;
  background: rgba(100, 114, 125, 0.5);
}

#idle_inhibitor.activated {
  color: white;
}

#clock {
  color: white;
  background: rgba(100, 114, 125, 0.5);
}
